<!-- Services Section -->
    <section id="aboutme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">저 김다연은 - 이런 사람입니다!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">성공의 경험</h4>
                    <p class="text-muted">22’ 전국 공개 SW 개발자대회 <b>대상</b>,<br/>
                        그 외 교내 4개 대회에서 <b>6개의 상</b>을 수상하였습니다.<br/>
                        성공의 경험을 바탕으로 두려움 없이 도전합니다.<br/>
                        </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">기록 지향적</h4>
                    <p class="text-muted">
                        github과 블로그를 통해 배운 것을 기록합니다.<br/>
                        문제의 원인과 해결 방법들을 <b>분석하고 기록</b>하며<br/>
                        저만의 매뉴얼이 되어가고 있습니다.<br/>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">계획과 실천</h4>
                    <p class="text-muted">저는 체계적인 계획을 기반으로 실천하는 사람입니다.<br/>
                        맡은 일을 분석하고 <b>우선순위</b>를 정해 계획합니다.<br/>
                        계획과 실천을 바탕으로 꾸준히 공부하고 있습니다.<br/>
                        <a href="https://github.com/yeondelight/TIL">🔗 TIL : Today I Learned</a>
                        </p>
                </div>
            </div>
        </div>
    </section>